* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-background: hsl(232, 60%, 5%);
  --header-background2: hsl(237, 82%, 18%);
  --header-background: hsl(214, 90%, 15%);
  --btn-color: hsl(60, 15%, 94%);
  --btn-background: hsl(197, 97%, 40%);
  --title-color: hsl(197, 30%, 88%);
  --details-color: hsl(198, 26%, 71%);
  --subtitle-color: hsl(197, 46%, 61%);
  --theme-color: hsl(206, 100%, 50%);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  font-family: "Open Sans", sans-serif;
}
.meContainer {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .meContainer {
    width: 100%;
    padding: 0 auto;
  }
}
.Headerr {
  margin: 0;
  padding: 0;
  background-color: var(--header-background);
  overflow: hidden;
  box-sizing: border-box;
}
.navAndLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 auto;
}
.navAndLogo i {
  display: none;
  cursor: pointer;
}
.nav {
  font: 13px sans-serif;
  margin: 0;
  padding: 0;
}
.navList {
  padding: 0;
  margin: auto 0;
  list-style: none;
}
.navList li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  transition: 0.5s linear;
  box-sizing: border-box;
}
.navList li:first-child {
  padding: 0;
}
.navList li:first-child a {
  background-color: var(--body-background);
}
.navList li:hover a {
  background-color: var(--body-background);
}
.navList li a {
  text-decoration: none;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  color: var(--btn-color);
}
.logoImg {
  width: 45px;
  height: 45px;
  margin: auto;
  padding: 0 auto;
}
@media screen and (max-width: 600px) {
  .navAndLogo > i {
    display: block;
    font-size: 25px;
    color: var(--btn-color);
  }
  .nav {
    display: block;
    position: fixed;
    top: 0%;
    left: -100%;
    z-index: 2;
    background-color: var(--body-background);
    width: 250px;
    transition: 0.5s linear;
  }
  .nav.openNav {
    left: 0%;
  }
  .nav.navClose {
    left: -100%;
  }
  .navICon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    padding: 20px;
  }
  .navICon i {
    color: var(--btn-color);
    font-size: 25px;
    display: block;
  }
  .navList {
    display: block;
    position: absolute;
    height: 100vh;
    background-color: var(--header-background);
  }
  .navList li {
    width: 100%;
    padding: 0px;
    background-color: var(--header-background);
  }
  .navList li a {
    display: block;
    width: 100%;
    padding: 15px 40px;
  }
  .navList li:first-child a {
    background-color: var(--header-background);
  }
  .navList li:hover a {
    background-color: var(--body-background);
  }
}
.headerWrapper {
  background-color: var(--body-background);
}
.headerContent {
  display: flex;
  justify-content: flex-start;
  margin: 0px auto;
}
.headerText {
  max-width: 500px;
  width: 100%;
  margin: auto 0;
}
.headerImg {
  width: 100%;
  height: 100%;
  margin: 0px 50px 0px 0px;
}
.headerSubTitle {
  color: var(--subtitle-color);
  font-family: "Open Sans", sans-serif;
  margin: 5px 0px;
}
.headerTitle {
  color: var(--title-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5px 0px;
  padding: 0px;
}
.headerDetails {
  color: var(--details-color);
  margin: 5px 0px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 16px;
}
.headerBtn {
  border: none;
  outline: none;
  cursor: pointer;
  width: 90px;
  height: 40px;
  margin: 10px 0px;
  padding: 0px;
  color: var(--btn-color);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--btn-background);
  transition: 0.3s linear;
}
.headerBtn:hover {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  background: none;
}
@media screen and (max-width: 600px) {
  .headerContent {
    display: block;
  }
  .headerText {
    padding: 20px 0;
  }
  .headerImg {
    display: none;
  }
}
.aboutSection {
  padding: 50px 0;
}
.aboutWrapper {
  display: flex;
  width: 100%;
  margin: auto;
}
.aboutImgCon {
  width: 35%;
  align-items: right;
  position: relative;
}
.aboutImgCon::after {
  content: "";
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 100px;
  height: 90px;
  background-color: var(--theme-color);
  z-index: -1;
}
.aboutImgCon::before {
  content: "";
  position: absolute;
  left: 60px;
  bottom: -13px;
  width: 100px;
  height: 90px;
  background-color: hsl(0, 0%, 100%);
  z-index: -1;
}
.aboutImg {
  width: 80%;
  height: 100%;
  float: right;
}
.aboutTextCon {
  display: block;
  width: 60%;
  margin-left: 20px;
}
.aboutTitle {
  color: var(--title-color);
  font-size: 30px;
  margin: 10px 0;
  font: 2em sans-serif;
  text-transform: capitalize;
}
.aboutDetails {
  font: 1em sans-serif;
  color: var(--details-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 5px 0;
}
.cvBtn {
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  height: 45px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
  margin: 15px 0;
  transition: 0.3s linear;
}
.cvBtn:hover {
  background-color: transparent;
  border: 1px solid var(--btn-color);
}
@media screen and (max-width: 600px) {
  .aboutSection {
    padding: 20px 0;
  }
  .aboutWrapper {
    display: block;
  }
  .aboutImgCon {
    width: 100%;
    align-items: center;
  }
  .aboutImg {
    width: 100%;
    align-items: center;
    float: none;
  }
  .aboutImgCon::after {
    content: "";
    position: absolute;
    width: 120px !important;
    height: 110px !important;
    left: 45px !important;
    bottom: 5px !important;
  }
  .aboutImgCon::before {
    content: "";
    position: absolute;
    width: 120px !important;
    height: 110px !important;
    left: 25px !important;
    bottom: -15px !important;
  }
  .aboutTextCon {
    width: 100%;
    margin: 50px 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .aboutImgCon::after {
    content: "";
    position: absolute;
    left: 50px;
    bottom: 0px;
    width: 90px;
    height: 80px;
  }
  .aboutImgCon::before {
    content: "";
    position: absolute;
    left: 35px;
    bottom: -15px;
    width: 90px;
    height: 80px;
  }
}

.workSection {
  background-color: var(--header-background);
  padding: 40px 0;
}
.workWrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 30px 0;
}
.workIntroCon {
  width: 22%;
  text-align: right;
  margin-right: 20px;
  padding: 15px;
  position: relative;
  border: 1px solid var(--details-color);
  border-radius: 5px;
}
.workIntroCon::after {
  display: none;
}
.workIntroTitle {
  font-size: 25px;
  color: var(--title-color);
  font: 2em sans-serif;
  padding: 10px 0;
}
.workIntroDetails {
  color: var(--details-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 5px 0;
  line-height: 16px;
}
.workCon {
  display: flex;
  flex-direction: row;
  width: 76%;
}
.work {
  background-color: var(--body-background);
  position: relative;
  border-radius: 8px;
  width: 33%;
  height: 250px;
  text-align: left;
  margin: auto 10px;
  padding: 0;
  color: hsl(198, 29%, 72%);
  border: 1px solid var(--details-color);
  overflow: hidden;
}
.work img {
  width: 100%;
  height: 50%;
}
.workTitle {
  font-size: 20px;
  font-family: sans-serif;
  color: hsla(196, 22%, 90%, 0.92);
  margin: 5px 10px;
}
.workDetails {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 5px 10px;
}
.work a {
  font-size: 15px;
  color: var(--details-color);
  margin: 20px 15px;
  float: right;
  text-decoration: none;
}
.work a i {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .workWrapper {
    display: block;
    justify-content: center;
  }
  .workIntroCon {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: none;
  }
  .workIntroCon::after {
    content: "";
    height: 8%;
    width: 30%;
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    transform: translate(-50%, -100%);
    background-color: var(--theme-color);
  }
  .workCon {
    display: block;
    width: 70%;
    margin: 10px auto;
  }
  .work {
    width: 70%;
    height: 45%;
    margin: 40px auto;
  }
}
@media screen and (max-width: 600px) {
  .workCon {
    width: 90%;
  }
}
.exampleSection {
  padding: 50px 0;
}
.exampleSubTitle {
  color: var(--subtitle-color);
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0px auto;
}
.exampleTitle {
  color: var(--title-color);
  font: 2em sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 10px auto;
}
.exampleNavCon {
  display: block;
  font-size: 15px;
  margin: 20px auto;
  padding: 0;
}
.exampleNav {
  list-style-type: none;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.exampleNav li {
  margin: 10px 3px;
}
.exampleNav li a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--btn-color);
  padding: 7px;
  transition: 0.5s linear;
  background-color: var(--btn-background);
}
.exampleNav li a:hover {
  background: hsl(237, 82%, 18%);
}
.workExampleCon {
  display: block;
  padding: 20px 50px;
  margin: 0 auto;
}
.workExample {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.workExample a {
  width: 140px;
  height: 180px;
  margin: 10px;
  text-decoration: none;
  position: relative;
  transition: 0.5s linear;
  overflow: hidden;
}
.exampleGrow {
  flex-grow: 2;
}
.workExample a img {
  width: 100%;
  height: 100%;
  filter: blur(0px);
  transition: 0.5s linear;
}
.workExample a:hover img {
  filter: blur(1px);
  transform: scale(1.1);
}
.workExample a:hover::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--btn-background);
  text-align: center;
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .workExampleCon {
    padding: 20px 0;
  }
}
.skillSection {
  padding: 50px 0;
  background: linear-gradient(hsla(0, 100%, 1%, 0.7), hsla(0, 100%, 1%, 0.7)),
    url(../image/skill.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skillSubTitle {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}
.skillConTitle {
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
  font: 2em sans-serif;
}
.skillCon {
  background-color: hsla(0, 0%, 0%, 0.55);
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.skill {
  width: 45%;
  background-color: transparent;
  margin: 20px auto;
}
.skillTitle {
  color: hsl(197, 48%, 88%);
  display: block;
  font-size: 14px;
  margin: 5px 0;
}
.progress {
  width: 100%;
  background: hsla(0, 0%, 100%, 0.281);
  height: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.progressSpan {
  position: absolute;
  max-width: 100%;
  width: 0%;
  animation: fullfillBar 1.5s linear 0.1s;
  height: 100%;
  background-color: var(--theme-color);
}
.progressSpan::after {
  content: attr(data-width);
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  font-size: 9px;
  color: hsl(197, 48%, 88%);
}
@media screen and (max-width: 600px) {
  .skillCon {
    display: block;
    width: 75%;
    margin-top: 40px;
  }
  .skill {
    width: 85%;
    margin: 20px auto;
  }
}
.processSection {
  padding: 50px 0;
}
.processSubTitle {
  color: var(--subtitle-color);
  font-size: 15px;
  margin: 5px auto;
  text-align: center;
}
.processTitle {
  text-align: center;
  font: 2em sans-serif;
  margin: 10px auto;
  color: var(--title-color);
}
.proCon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px auto;
  height: 500px;
}
.leftDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}
.leftContentCon {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
  text-align: right;
  width: 70%;
  background-color: hsl(240, 23%, 16%);
  border-radius: 2px;
}
.leftContentCon:first-child {
  margin-top: auto;
}
.leftContentCon:last-child {
  margin-top: auto;
  margin-bottom: 0;
}
.middleDiv {
  width: 80px;
  margin: auto 5px;
}
.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.process li {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}
.process li i {
  color: var(--theme-color);
  font-size: 18px;
}
.miSpan {
  width: 3px;
  height: 110px;
  background-color: transparent;
  margin: -5px;
  position: relative;
}
.miSpan::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  top: 20%;
  left: 0%;
  border-radius: 50px;
  background-color: var(--theme-color);
}
.miSpan::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  top: 40%;
  left: 0%;
  border-radius: 50px;
  background-color: var(--theme-color);
}
.miSpan .miSubSpan {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 70%;
  left: 0%;
  border-radius: 50px;
  background-color: var(--theme-color);
}
.rightDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.rightContentCon {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  margin: 20px 0;
  padding: 10px;
  width: 70%;
  background-color: hsl(240, 23%, 16%);
}
.rightContentCon:first-child {
  margin-bottom: auto;
  margin-top: 0;
}
.rightContentCon:last-child {
  margin-bottom: auto;
}
.leftContentCon h3,
.rightContentCon h3 {
  color: hsla(205, 89%, 76%, 0.909);
  padding: 2px 0;
}
.leftContentCon p,
.rightContentCon p {
  color: hsla(204, 70%, 87%, 0.824);
  padding: 5px 0;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .proCon {
    height: 520px;
  }
  .leftContentCon {
    width: 100%;
    padding: 5px;
  }
  .miSpan {
    height: 110px;
  }
  .rightContentCon {
    width: 100%;
    padding: 5px;
  }
  .leftContentCon h3,
  .rightContentCon h3 {
    font-size: 16px;
  }
  .leftContentCon p,
  .rightContentCon p {
    font-size: 14px;
  }
}
.footerSection {
  background-color: var(--header-background);
}
.footerLinkCon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footerLink {
  margin: 20px 30px;
  padding: 10px;
}
.footerLink li {
  list-style-type: none;
  margin: 5px 0;
}
.footerLinkTitle {
  color: rgba(162, 178, 212, 0.886);
  font-size: 25px;
  margin: 0;
  padding: 15px 0;
  position: relative;
}
.footerLinkTitle::after {
  content: "";
  width: 40%;
  height: 5px;
  position: absolute;
  top: 80%;
  left: 1%;
  background-color: rgba(162, 178, 212, 0.365);
}
.footerLink li a {
  color: rgba(162, 178, 212, 0.447);
  text-decoration: none;
}
.footerIconCon {
  margin: 20px auto;
}
.footerIconCon ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footerIconCon ul li a {
  color: rgba(162, 178, 212, 0.886);
  text-decoration: none;
  margin: 10px 5px;
  font-size: 20px;
}
.footerCopyright {
  text-align: center;
  margin: 15px auto;
  padding: 10px 0;
}
.footerCopyright p {
  color: rgba(162, 178, 212, 0.886);
}
.footerCopyright p a {
  text-decoration: none;
  color: rgba(162, 178, 212, 0.886);
}
